<% include head %>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">CLARITY</a></li>
    <% if (user) { %>
    <li><a href="#"><%= user.displayName %></a></li>
    <li><a href="/logout">Log Out</a></li>
    <% } %>
  </ul>
  <% if (user) { %>
    <div ui-view></div>
  <% } else {%>
  <div>
    <form>
      <input type='email' placeholder='email'>
      <input type='password' placeholder='password'>
      <button class="btn btn-primary">log in</button>
    </form>
  <a href='/auth/google'>GOOGLE SIGN IN</a>
  <% } %>
  </div>
  <% if (user && !user.userType) { %>
  <form>
    <h5>Please Register User Type</h5>
    <input type='radio' value='teacher'>Teacher
    <input type='radio' value='student'>Student
    <button>registered user</button>
  </form>
  <% } %>
</div>
<% include footer %>
