<% include head %>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Teacher</a></li>
    <% if (user) { %>
      <li><a href="/logout">Log Out</a></li>
    <% } %>
  </ul>
  <% if (user) { %>
  <%= user.displayName %>
  <% } %>
  <div ui-view></div>
</div>
<% include footer %>
