<% include head %>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Teacher</a></li>
    <li><a href="#">Student</a></li>
  </ul>
  <div ui-view></div>
</div>
<% include footer %>
