<% include head %>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">CLARITY</a></li>
    <% if (user) { %>
    <li><a href="#"><%= user.displayName %></a></li>
    <li><a href="/logout">Log Out</a></li>
    <% } %>
    <% if (user && user.type === 'student') { %>
    <li><a href="#/student">Student</a></li>
    <% } else if (user && user.type === 'teacher') { %>
    <li><a href="#/teacher">Teacher</a></li>
    <% } %>
  </ul>
  <% if (user) { %>
    <div ui-view></div>
  <% } else { %>
  <a href='/auth/google'>GOOGLE SIGN IN</a>
  <% } %>
  <div ng-controller='MainCtrl'>
    <% if (user && !user.type) { %>
    <form ng-submit='registerUser()'>
      <h5>Please Register User Type</h5>
      <input name='userType' type='radio' value='teacher' ng-model='type' required>Teacher
      <input name='userType' type='radio' value='student' ng-model='type' required>Student
      <button type='submit'>registered user</button>
    </form>
    <% } %>
  </div>
</div>
<% include footer %>
