<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Clarity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <div class='container'>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">CLARITY</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <% if (user && user.type === 'student') { %>
          <li><a href="#/student">Student Dashboard</a></li>
          <% } else if (user && user.type === 'teacher') { %>
          <li><a href="#/teacher">Teacher Dashboard</a></li>
          <% } %>
          <% if (user) { %>
          <li><a href="#" class="navbar-link"><%= user.displayName %></a></li>
          <li><a href="/logout">Log Out</a></li>
          <% } %>
        </ul>
      </div>
    </nav>

    <% if (user) { %>
    <div ui-view></div>
    <% } else { %>
    <div class="row">
      <div class="col-sm-6">
        <img width='500px' src='http://sites.psu.edu/clickers/wp-content/uploads/sites/4494/2013/08/iclicker.jpg'>
      </div>
      <div class="col-sm-6">
        <img width='500px' src='http://www.apsnet.org/edcenter/instcomm/TeachingArticles/Article%20Images/PRS_fig02.jpg'>
      </div>
    </div>
    <div class="text-center">
      <a href='/auth/google'><img width='200' src='https://www.luvzoll.com/images/sign-in-with-google.png'></a>
    </div>
    <% } %>
    <div ng-controller='MainCtrl'>
      <% if (user && !user.type) { %>
      <form ng-submit='registerUser()'>
        <h5>Please Register User Type</h5>
        <input name='userType' type='radio' value='teacher' ng-model='type' required>Teacher
        <input name='userType' type='radio' value='student' ng-model='type' required>Student
        <button type='submit'>registered user</button>
      </form>
      <% } %>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.7/highcharts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.7/highcharts-3d.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="bundle.js"></script>
</body>
</html>
