<% include layout %>
<h3><%= title %></h3>
<form ng-submit="submitAnswer()">
  <h1>{{question.question}}</h1>
  <input type="radio" value="A" ng-model="answer">{{question.choiceA}}
  <input type="radio" value="B" ng-model="answer">{{question.choiceB}}
  <input type="radio" value="C" ng-model="answer">{{question.choiceC}}
  <input type="radio" value="D" ng-model="answer">{{question.choiceD}}
  <button type="submit" ng-disabled='timeOut'>submit Answer</button>
  <h5>{{time}}</h5>
  <h1>{{question.answer}}</h1>
</form>
