body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul {
  list-style: none;
}
.main-image {
  background: url('../images/class.png');
  background-image: cover;
  background-repeat: no-repeat;
  height: 800px;
}
.clickable {
  cursor: pointer;
}
.timer {
  color: red;
  font-weight: bolder;
}
.title {
  font-size: 100px;
}
.white {
  color: white;
}

.vertical-middle {
  padding-top: 80px;
  vertical-align: middle;
}

.shadow {
  text-shadow: 2px 2px #444;
}

.chatBox {
  border: 2px solid #999;
  padding: 10px;
  height: 400px;
  background: #CCC;
}
.chat-name {
  font-weight: bold;
}
@media (max-width: 480px) {
  .main-image {
    height: 600px;
  }
}
