body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul {
  list-style: none;
}
nav{
  padding-right: 25px
}
.main-image {
  background: url('../images/class.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 910px;
}
.clickable {
  cursor: pointer;
}
.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.mutliple-choice {
  line-height: 30px;
}
.question-height {
  -webkit-line-clamp: 4;
  height: 158px;
}
.set-height {
  -webkit-line-clamp: 3;
  height: 100px;
}
.timer {
  color: red;
  font-weight: bolder;
}
.clarity-title {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 3px;
}
.title {
  color: white;
  font-size: 60px;
}
.white {
  color: white;
}
.vertical-middle {
  padding-top: 75px;
}
.shadow {
  text-shadow: 2px 2px #444;
}
.top-padding {
  padding-top: 20px;
}
.wood-image {
  background: url('http://i38.tinypic.com/34tbm38.jpg');
  background-repeat: repeat;
  min-height: 910px;
}
.google-image {
  width: 80px
}
.chatBox {
  border: 2px solid #999;
  padding: 10px;
  min-height: 400px;
  background: #CCC;
}
.chat-name {
  font-weight: bold;
}
@media (max-width: 480px) {
  .main-image {
    height: 600px;
  }
}
