<div class='pull-right lead'>
  <h4 class='white'>Connected User Count: <span class='badge'>{{users.length}}</span></h4>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionModal">Enter New Question</button>
</div>
<div class='row'>
  <div class='col-xs-12 text-center'>
    <h1 class='white'>{{currentSet.listName}}</h1>
    <h1 class='timer'>{{timer}}</h1>
  </div>
</div>
<div class='row'>
  <div ng-repeat='question in currentSet.list'>
    <div class='col-sm-4'>
      <div class='panel panel-default text-center'>
        <div class='well clickable line-clamp question-height' ng-click='linkToQuestion(question)'>
          <h3>{{question.question}}</h3>
        </div>
        <div class='clickable' ng-click='startTest(question)'>
          <h2>Start</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form ng-submit="addQuestion()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">New Question</h4>
        </div>
        <div class="modal-body">
            <label>Question</label>
            <input class='form-control' type='text' placeholder="required" ng-model="newQuestion.question" required />
            <label>Choice A</label>
            <input class='form-control' type='text' placeholder="required" ng-model="newQuestion.choiceA" required />
            <label>Choice B</label>
            <input class='form-control' type='text' placeholder="required" ng-model="newQuestion.choiceB" required />
            <label>Choice C</label>
            <input class='form-control' type='text' placeholder="optional" ng-model="newQuestion.choiceC" />
            <label>Choice D</label>
            <input class='form-control' type='text' placeholder="optional" ng-model="newQuestion.choiceD" />
            <label>Answer</label>
            <select class='form-control' ng-model='newQuestion.answer' required>
              <option value="">Please Select</option>
              <option value='A'>A</option>
              <option value='B'>B</option>
              <option value='C'>C</option>
              <option value='D'>D</option>
              <option value='E'>E</option>
            </select>
            <label>Alloted Time</label>
            <input class='form-control' type="number" min="20" max="300" ng-model='newQuestion.time' required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save New Question</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div id='container'></div>
  </div>
  <div class="col-sm-6">
    <div id='container2'></div>
  </div>
</div>

<h1 class='title text-center lead'>Chatroom</h1>
<div class='row'>
  <div class='col-xs-10'>
    <form ng-submit='sendMessage()'>
      <div class='input-group'>
        <input class='form-control' ng-model='message' placeholder='message' required>
        <span class='input-group-btn'>
          <button type='submit' class='btn btn-primary'>Send</button>
        </span>
      </div>
    </form>
    <div class='chatBox'>
      <div ng-repeat='message in messages track by $index'>
        <span class='chat-name'>{{message.name}}: </span>
        <span>{{message.text}}</span>
      </div>
    </div>
  </div>
  <div class='col-xs-2 chatBox'>
    <h3 class='text-center page-header'>Users Online</h3>
    <h5 ng-repeat='user in users'><span class="badge">{{user.point}}</span> {{user.name}}</h5>
  </div>
</div>
