<div>
  <h3 class='white text-center'>{{currentQuestion.question}}</h3>
  <ul class='well mutliple-choice'>
    <li>A: {{currentQuestion.choiceA}}</li>
    <li>B: {{currentQuestion.choiceB}}</li>
    <li>C: {{currentQuestion.choiceC}}</li>
    <li>D: {{currentQuestion.choiceD}}</li>
  </ul>
  <div class='row'>
    <div class='col-xs-6'>
      <span class='h3 white'>Answer: {{currentQuestion.answer}}</span>
    </div>
    <div class='col-xs-6'>
      <span class='h3 white'>Time: {{currentQuestion.time}}</span>
    </div>
  </div>
</div>
<div class='text-center'>
  <button class='btn btn-warning' ng-click='deleteQuestion()'>Delete Question</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editQuestion">Edit Question</button>
</div>
<!-- Modal -->
<div class="modal fade" id="editQuestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form ng-submit="editQuestion()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">Edit Question</h4>
        </div>
        <div class="modal-body">
            <label>Question</label>
            <input type='text' class='form-control' placeholder="new question" ng-model="editedQuestion.question" required />
            <label>Choice A</label>
            <input type='text' class='form-control' placeholder="choice A" ng-model="editedQuestion.choiceA" required />
            <label>Choice B</label>
            <input type='text' class='form-control' placeholder="choice B" ng-model="editedQuestion.choiceB" required />
            <label>Choice C</label>
            <input type='text' class='form-control' placeholder="choice C" ng-model="editedQuestion.choiceC" />
            <label>Choice D</label>
            <input type='text' class='form-control' placeholder="choice D" ng-model="editedQuestion.choiceD" />
            <label>Answer</label>
            <select class='form-control' ng-model='editedQuestion.answer' required>
              <option value="">Please Select</option>
              <option value='A'>A</option>
              <option value='B'>B</option>
              <option value='C'>C</option>
              <option value='D'>D</option>
              <option value='E'>E</option>
            </select>
            <label>Time</label>
            <input class='form-control' type="number" min="30" max="300" step='10' ng-model='editedQuestion.time' required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
