<form ng-submit="submitAnswer()" ng-show='currentQuestion'>
  <h3>{{currentQuestion.question}}</h3>
  <div>
    <input name="answer" type="radio" value="A" ng-model='studentAnswer' required>
    <label>{{currentQuestion.choiceA}}</label>
  </div>
  <div>
    <input name="answer" type="radio" value="B" ng-model='studentAnswer' required>
    <label>{{currentQuestion.choiceB}}</label>
  </div>
  <div>
    <input name="answer" type="radio" value="C" ng-model='studentAnswer' required>
    <label>{{currentQuestion.choiceC}}</label>
  </div>
  <div>
    <input name="answer" type="radio" value="D" ng-model='studentAnswer' required>
    <label>{{currentQuestion.choiceD}}</label>
  </div>
  <div class='text-center'>
    <button class='btn btn-primary' type="submit" ng-disabled='timeOut'>submit Answer</button>
  </div>
</form>
<h5>{{time}}</h5>

<div class="row">
  <div class="col-sm-6">
    <div id='container'></div>
  </div>
  <div class="col-sm-6">
    <div id='container2'></div>
  </div>
</div>
