<h3 class='clickable link' ng-click='linkToChat()'>Chat Room</h3>
<div class='row'>
  <div class='col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4'>
    <div class='panel panel-default text-center shadow'>
      <h4>Instructor:
        <span class="badge">{{pointsData.teacherName}}</span>
      </h4>
      <h4>Users in Room:
        <span class="badge">{{users.length}}</span>
      </h4>
      <h4>Total Points:
        <span class="badge">{{pointsData.points}}</span>
      </h4>
      <h3 class='timer' ng-show='time'>Time: {{time}}</h3>
    </div>
  </div>
</div>
<h3 class='text-center white'>{{currentQuestion.question}}</h3>
<div class='row'>
  <div class='col-xs-12'>
    <form ng-submit="submitAnswer()" ng-show='currentQuestion'>
      <div class='well mutliple-choice shadow'>
        <div>
          <input name="answer" type="radio" value="A" ng-model='studentAnswer' id='answerA' required>
          <label for='answerA'> A. {{currentQuestion.choiceA}}</label>
        </div>
        <div>
          <input name="answer" type="radio" value="B" ng-model='studentAnswer' id='answerB' required>
          <label for='answerB'> B. {{currentQuestion.choiceB}}</label>
        </div>
        <div ng-show='currentQuestion.choiceC'>
          <input name="answer" type="radio" value="C" ng-model='studentAnswer' id='answerC' required>
          <label for='answerC'> C. {{currentQuestion.choiceC}}</label>
        </div>
        <div ng-show='currentQuestion.choiceD'>
          <input name="answer" type="radio" value="D" ng-model='studentAnswer' id='answerD' required>
          <label for='answerD'> D. {{currentQuestion.choiceD}}</label>
        </div>
      </div>
      <div class='text-center lead'>
        <button class='btn btn-primary shadow' type="submit" ng-disabled='!time'>submit Answer</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div id='container'></div>
  </div>
  <div class="col-sm-6">
    <div id='container2'></div>
  </div>
</div>
