<h1 class='text-center title'>My Teachers</h1>
<div class='row'>
  <div ng-repeat='myTeacher in myTeachers'>
    <div class='col-md-4 col-sm-6'>
      <div class='panel panel-default text-center shadow'>
        <div class='well clickable' ng-click='enterRoom(myTeacher)'>
          <h4>{{myTeacher.displayName}}</h4>
          <h4 class='link'>Quiz Center</h4>
        </div>
        <div class='clickable' ng-click='linkToChat(myTeacher)'>
          <h2 class='link'>Chatroom</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='input-group'>
  <select class='form-control' ng-model='selectedTeacher'>
    <option ng-repeat='teacher in teachers' value='{{teacher}}'>{{teacher.displayName}}</option>
  </select>
  <span class='input-group-btn'>
    <button class='btn btn-default' ng-click='addTeacher()'>Add Teacher</button>
  </span>
</div>
