<h1 class='text-center title'>My Teachers</h1>
<div class='row'>
  <div ng-repeat='myTeacher in myTeachers'>
    <div class='col-sm-4'>
      <div class='panel panel-default text-center'>
        <div class='well'>
          <span class="h4">{{myTeacher.displayName}}</span>
        </div>
        <div class='clickable' ng-click='enterRoom(myTeacher)'><h2>Join Room</h2></div>
      </div>
    </div>
  </div>
</div>
<h1 class='text-center white lead'>All Teachers</h1>
<div>
  <select class='form-control' ng-model='selectedTeacher'>
    <option ng-repeat='teacher in teachers' value='{{teacher}}'>{{teacher.displayName}}</option>
  </select>
  <button class='btn btn-default' ng-click='addTeacher()'>Add Teacher</button>
</div>
