<div class='pull-right'>
  <button class="btn btn-primary" data-target="#setModal" data-toggle="modal" type="button">Add Question Set</button>
</div>
<div class='row'>
  <div class='col-xs-12'>
    <h1 class='title text-center lead'>Questions Set</h1>
  </div>
</div>
<div class='row'>
  <div ng-repeat='set in allQuestion'>
    <div class='col-sm-4'>
      <div class='panel panel-default text-center'>
        <button type="button" ng-click='deleteSet(set)' class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class='clickable line-clamp set-height' ng-click='linkToList(set)'>
          <h3>{{set.listName}}</h3>
        </div>
        <div>
          <hr>
          <h3>{{set.list.length}} Questions</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div aria-labelledby="myModalLabel" class="modal fade" id="setModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form ng-submit="addSet()">
        <div class="modal-header">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title text-center" id="myModalLabel">Question Set</h4>
        </div>
        <div class="modal-body">
          <label>New Set</label>
          <input class='form-control' ng-model="newSetName" placeholder="Name of New Question Set" required type='text'/>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
          <button class='btn btn-primary' type="submit">Submit New Set</button>
        </div>
      </form>
    </div>
  </div>
</div>
